.cart-products {
    flex-grow: 1;
    height: 130px;
}
.cart-product {
    padding: 20px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.img-container {
    background-color: rgba(0,0,0,0.05);
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
.img {
    width: 100%;
    height: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 600;
    display: block;
    padding-right: 25px;
}
.total-text {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.price {
    color: #8e2de2;
}
.number {
    color: #8e2de2;
}

.quantity-buttons{
    width: fit-content;
    display: flex;
    border: 2px solid rgba(0,0,0,0.2);
    margin-top: 10px;
    height: 20px;
}
.delete {
    position: absolute;
    right: 0;
    width: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.minus{
    text-align: center;
    font-size: 18px;
    width: 30px;
    cursor: pointer;
    outline: 0;
    border: 0;
}
.quantity{
    text-align: center;
    font-size: 18px;
    width: 40px;
}
.plus{
    text-align: center;
    font-size: 18px;
    width: 30px;
    cursor: pointer;
    outline: 0;
    border: 0;
}